$white: #FFFFFF;
$black: #000000;

$yellow: #F0A53F;
$yellow-1: #FFBE00;
$custard: #B78648;
$blue: #0D649B;


$gray-8: #171718;
$gray-7: #1C1D1E;
$gray-6: #1E2122;
$gray-5: #202324;
$gray-4: #232526;
$gray-3: #25292B;
$gray-2: #2C3234;
$gray-1: #7D7D7D;

$orange-3: #EF541C;
$orange-2: #EF5A21;
$orange-1: #F05A22;

$purple-2: #1A176C;
$purple-1: #474CCD;

