
<div class="popup-wrapper">
    <div class="popup-container">
      <div class="banner-container">
        <div class="image-container">
          <img src="./assets/images/banner-1.jpeg" alt="main banner">
        </div>
        <div class="popup-header-row">
          <div class="labels-container">
            <span class="slots">სლოტები</span>
            <span class="date">10 იანვარი - 12 მარტი</span>
          </div>
          <div class="cancel-button">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>
          </div>
        </div>
        <div class="banner-info-row">
          <h2 class="banner-title">მოიპოვე 10 საგზურიდან ერთ-ერთი</h2>
          <p class="text-container">მოხვდი პოკერის ფესტივალზე მალტაში</p>
        </div>
      </div>
      <div class="container-def">
        <div class="tabs-container">
          <ul>
            <li  routerLinkActive="active" [routerLink]="['/cash-games']">
              <span class="date">1 - 29 აპრილი</span>
              <span class="title">Cash Games</span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/spring-series']">
              <span class="date">13 - 29 აპრილი</span>
              <span class="title">Spring Series</span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/final-stage']">
              <span class="date">30 აპრილი</span>
              <span class="title">Final Stage</span>
            </li>
          </ul>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>

        <section class="faq-section section-row">
          <h2 class="section-title">წესები და პირობები</h2>
          <div class="faq-item">
            <div class="faq-header">
              <h3 class="title">როდის იწყება და რა ფორმატით გაიმართება აქცია</h3>
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.982" height="8.74" viewBox="0 0 14.982 8.74">
                  <g id="Vector_Smart_Object_copy_22" data-name="Vector Smart Object copy 22" transform="translate(14.982 8.74) rotate(180)" opacity="0.6">
                    <path id="Контур_12555" data-name="Контур 12555" d="M7.491,8.74a1.079,1.079,0,0,1-.771-.325l-6.4-6.52a1.126,1.126,0,0,1,0-1.57,1.077,1.077,0,0,1,1.541,0L7.491,6.061,13.122.325a1.077,1.077,0,0,1,1.541,0,1.126,1.126,0,0,1,0,1.57l-6.4,6.52A1.079,1.079,0,0,1,7.491,8.74Z" transform="translate(14.982 8.74) rotate(180)" fill="#fff"/>
                  </g>
                </svg>
              </div>
            </div>
            <div class="faq-body"></div>
          </div>
          <div class="faq-item" id="howToTakePart">
            <div class="faq-header">
              <h3 class="title">როგორ მივიღო აქციაში მონაწილეობა?</h3>
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.982" height="8.74" viewBox="0 0 14.982 8.74">
                  <g id="Vector_Smart_Object_copy_22" data-name="Vector Smart Object copy 22" transform="translate(14.982 8.74) rotate(180)" opacity="0.6">
                    <path id="Контур_12555" data-name="Контур 12555" d="M7.491,8.74a1.079,1.079,0,0,1-.771-.325l-6.4-6.52a1.126,1.126,0,0,1,0-1.57,1.077,1.077,0,0,1,1.541,0L7.491,6.061,13.122.325a1.077,1.077,0,0,1,1.541,0,1.126,1.126,0,0,1,0,1.57l-6.4,6.52A1.079,1.079,0,0,1,7.491,8.74Z" transform="translate(14.982 8.74) rotate(180)" fill="#fff"/>
                  </g>
                </svg>
              </div>
            </div>
            <div class="faq-body"></div>
          </div>
          <div class="faq-item">
            <div class="faq-header">
              <h3 class="title">სხვადასვა</h3>
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.982" height="8.74" viewBox="0 0 14.982 8.74">
                  <g id="Vector_Smart_Object_copy_22" data-name="Vector Smart Object copy 22" transform="translate(14.982 8.74) rotate(180)" opacity="0.6">
                    <path id="Контур_12555" data-name="Контур 12555" d="M7.491,8.74a1.079,1.079,0,0,1-.771-.325l-6.4-6.52a1.126,1.126,0,0,1,0-1.57,1.077,1.077,0,0,1,1.541,0L7.491,6.061,13.122.325a1.077,1.077,0,0,1,1.541,0,1.126,1.126,0,0,1,0,1.57l-6.4,6.52A1.079,1.079,0,0,1,7.491,8.74Z" transform="translate(14.982 8.74) rotate(180)" fill="#fff"/>
                  </g>
                </svg>
              </div>
            </div>
            <div class="faq-body"></div>
          </div>
        </section>
        <section class="similar-section section-row">
          <h2 class="section-title">მსგავსი აქციები</h2>
          <div class="carousel-container">
            <app-image-carousel></app-image-carousel>
          </div>
        </section>
      </div>
      <div class="sticky-label">
          <button class="button primary"> ითამაშე</button>
      </div>
    </div>
</div>
