
<div class="popup-wrapper">
    <div class="popup-container">
      <div class="banner-container">
        <div class="image-container">
          <img src="./assets/images/banner-1.jpeg" alt="main banner">
        </div>
        <div class="popup-header-row">
          <div class="labels-container">
            <span class="slots">სლოტები</span>
            <span class="date">10 იანვარი - 12 მარტი</span>
          </div>
          <div class="cancel-button">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>
          </div>
        </div>
        <div class="banner-info-row">
          <h2 class="banner-title">მოიპოვე 10 საგზურიდან ერთ-ერთი</h2>
          <p class="text-container">მოხვდი პოკერის ფესტივალზე მალტაში</p>
        </div>
      </div>

<!--      //tabs place-->
      <div class="container-def">
        <section class="faq-section">
          <h2 class="section-title">წესები და პირობები</h2>
          <div class="faq-item">
            <div class="faq-header">
              <h3 class="title">როდის იწყება და რა ფორმატით გაიმართება აქცია</h3>
              <div class="icon-container">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/></svg>
              </div>
            </div>
            <div class="faq-body"></div>
          </div>
          <div class="faq-item">
            <div class="faq-header">
              <h3 class="title">როგორ მივიღო აქციაში მონაწილეობა?</h3>
              <div class="icon-container">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/></svg>
              </div>
            </div>
            <div class="faq-body"></div>
          </div>
          <div class="faq-item">
            <div class="faq-header">
              <h3 class="title">სხვადასვა</h3>
              <div class="icon-container">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/></svg>
              </div>
            </div>
            <div class="faq-body"></div>
          </div>
        </section>
      </div>
    </div>
</div>
