/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import "helpers/fonts";

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2C3234;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #171718;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #171718;
}
