@use "../../../../styles/globals/colors" as c;
@use "../../../../styles/helpers/mixins" as m;
@import "../../../../styles/partials/card";
@import "../../../../styles/partials/button";
@import "../../../../styles/partials/panel";

.card-container{
  margin-top: 30px;
  .card-body{
    position: relative;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    .content{
      margin: 0 auto;
      width: 70%;
      color: c.$white;
      text-align: center;
      font-size: 16px;
      z-index: 2;
      .sub-title{

        font-size: 16px;
      }
      .schedule{
        border: 3px solid c.$orange-2;
        border-radius: 10px;
        box-shadow: 0 0px 15px -2px c.$orange-2, 0 0px 15px -5px c.$orange-2 inset;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin:  10px 0;
        .time{
          padding: 0 10px;
          font-family: HelveticaNeue-Light;
          font-size: 18px;
        }
        .icon{
          background-color: c.$orange-2;
          width: 40px;
          height: 30px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          border-radius: 0% 14% 14% 0% / 0% 48% 51% 0% ;
          padding-right: 2px;
          svg{
            fill: c.$white;
          }
        }
      }
      @include m.mq('tablet'){
        width: 90%;
        order: 0;
        .schedule{
          .icon{
            width: 30px;
          }
          .time{
            padding: 0 10px;
            font-size: 13px;
          }

        }
      }
    }
    .text-container{
      width: 60%;
      margin: 0 auto;
      color: c.$white;
      text-align: center;
      font-size: 14px;
      p{
        margin: 15px 0;
        opacity: 0.8;
      }
      @include m.mq('tablet'){
        width: 100%;
        order: 2;
        background-color: c.$gray-2;
        padding-bottom: 10px;
        .schedule{
          .icon{
            width: 30px;
          }
          .time{
            padding: 0 10px;
            font-size: 13px;
          }

        }
      }
    }
    .background{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      pointer-events: none;
      z-index: 0;
      img{
        display: inline-block;
        width: 230px;
      }
      @include m.mq('tablet'){
        z-index: 0;
        position: relative;
        margin-top: -25px;
        order: 1;
        border-radius: 16px;
        img{
          width: 120px;
        }
      }
    }
    @include m.mq('tablet'){
      padding-bottom: 0;
    }
  }
}

