<section class="card-container">
  <div class="card-header">
      <h2 class="title">ტურნირები და სატელიტები </h2>
  </div>
  <div class="card-body">
    <div class="content">
      <h3 class="sub-title"> სერიის ფარგლებში, ყოველდღიურად გაიმართება 3 ივენთი: </h3>
      <div class="schedule">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 12v-6h-2v8h7v-2h-5z"/></svg>
      </span>
        <span class="time"> 19:00 / 19:30 / 20:00</span>
      </div>
    </div>
    <div class="text-container">
      <p> * ყველა ტურნირზე მოხედრა შესაძლებელია 0 ლარიდან</p>
      <p> ტურების სრული განრიგის სანახავად გადაგი პოკერის ლობიში</p>
      <button class="button primary"> პოკერის ლობი</button>
    </div>
    <div class="background">
      <img src="../assets/images/promo-left-img.png" alt="promo background image">
      <img src="../assets/images/promo-right-img.png" alt="promo background image">
    </div>
  </div>
</section>

<section class="card-container multiple-section">
  <div class="card-header">
    <h2 class="title">ᲛᲝᲮᲕᲓᲘ TOP20 ᲚᲘᲓᲔᲠᲑᲝᲠᲓᲨᲘ ᲢᲣᲠᲜᲘᲠᲔᲑᲖᲔ ᲓᲐᲒᲠᲝᲕᲔᲑᲣᲚᲘ ᲥᲣᲚᲔᲑᲘᲗ </h2>
  </div>
  <div class="card-body">
    <div class="card-section">
      <div class="card-section-title link">
        <a href="#howToTakePart">ქულების დაგროვების მექანიკა
          <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="14.982" height="8.74" viewBox="0 0 14.982 8.74">
            <g id="Vector_Smart_Object_copy_22" data-name="Vector Smart Object copy 22" transform="translate(14.982 8.74) rotate(180)" opacity="0.6">
              <path id="Контур_12555" data-name="Контур 12555" d="M7.491,8.74a1.079,1.079,0,0,1-.771-.325l-6.4-6.52a1.126,1.126,0,0,1,0-1.57,1.077,1.077,0,0,1,1.541,0L7.491,6.061,13.122.325a1.077,1.077,0,0,1,1.541,0,1.126,1.126,0,0,1,0,1.57l-6.4,6.52A1.079,1.079,0,0,1,7.491,8.74Z" transform="translate(14.982 8.74) rotate(180)" fill="#fff"/>
            </g>
          </svg>
          </span>
        </a>
      </div>
      <div class="card-section-content">
        <div class="table-container">
          <div class="table-header">
            <ul>
              <li>პოზიცია</li>
              <li>ვაუჩერი</li>
              <li>პრიზი</li>
            </ul>
          </div>
          <div class="table-body">
            <ul class="table-body-row">
              <li><span>1</span></li>
              <li>-</li>
              <li>A კატეგორიის საგზური</li>
            </ul>
            <ul class="table-body-row">
              <li><span>2</span></li>
              <li>-</li>
              <li>B კატეგორიის საგზური</li>
            </ul>
            <ul class="table-body-row">
              <li><span>3</span></li>
              <li>1500</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>4</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>5</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>6</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>7</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>8</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-section">
      <div class="card-section-content">
        <ul class="card-list">
          <li>
            <div class="icon-container">
              <img src="../../../../assets/icons/travel-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">The Festival in Malta-ს საგზური</p>
          </li>
          <li>
            <div class="icon-container">
              <img src="../../../../assets/icons/ticket-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">სპეციალური ტურნირის „Cashgame Sharks” ბილეთი, სადაც გათამაშდება The Festival in Malta-ს საგზური</p>
          </li>
          <li>
            <div class="icon-container">
              <img src="../../../../assets/icons/travel-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">ტექნიკის მაღაზიის ვაუჩერი</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p class="additional-info">* ლიდერბორდის შედეგები განახლდება <a href="#">პოკერის ლობიში</a></p>
    <p class="additional-info"> * სატურნირო ლიდერბორდის ქულების დათვლაში არ მონაწილეობს ფრიროლები და სატელიტები</p>
  </div>
</section>

<section class="panel-container">
  <h2 class="panel-title">ᲧᲝᲕᲔᲚᲓᲦᲘᲣᲠᲘ ᲢᲣᲠᲜᲘᲠᲔᲑᲘ ᲓᲐ ᲡᲐᲢᲔᲚᲘᲢᲔᲑᲘ </h2>
  <div class="panel-body">
    <div class="each-item">
      <div class="image-container">
        <img src="../assets/images/tournament-bg2.png" alt="promo background image">
      </div>
      <div class="content">
        <div class="tournament-info">
            <span class="title">Holdem Highrollers</span>
            <span class="info amount">50 000 ₾</span>
          </div>
        <div class="tournament-info">
          <span class="title">ბაი-ინი - 550₾</span>
          <span class="info date">27 აპრილი</span>
        </div>
      </div>
    </div>
    <div class="each-item">
      <div class="image-container">
        <img src="../assets/images/tournament-bg2.png" alt="promo background image">
      </div>
      <div class="content">
        <div class="tournament-info">
          <span class="title">Holdem Highrollers</span>
          <span class="info amount">50 000 ₾</span>
        </div>
        <div class="tournament-info">
          <span class="title">ბაი-ინი - 550₾</span>
          <span class="info date">27 აპრილი</span>
        </div>
      </div>
    </div>
    <div class="each-item long">
      <div class="image-container">
        <img src="../assets/images/main-bg.png" alt="promo background image">
      </div>
      <div class="content">
        <div class="tournament-info">
          <span class="title">Holdem Highrollers</span>
          <span class="info amount">50 000 ₾</span>
        </div>
        <div class="tournament-info">
          <span class="title">ბაი-ინი - 550₾</span>
          <span class="info date">27 აპრილი</span>
        </div>
      </div>
    </div>
  </div>
  <span class="additional-info"> * სამივე ტურნირის გამარჯვებულები მიიღებენ ბეჭდებს და ფინალურ ეტაპზე, The Lord of the Rings ტურნირზე, იბრძოლებენ The Festival in Malta-ს საგზურის მისაღებად.</span>
</section>

<section class="card-container only-header">
  <div class="card-header">
    <h2 class="title">ᲓᲐᲛᲐᲢᲔᲑᲘᲗ ᲨᲔᲓᲒᲔᲑᲐ, ᲥᲔᲨᲒᲔᲘᲛᲘᲡ, ᲢᲣᲠᲜᲘᲠᲔᲑᲘᲡ ᲓᲐ ᲡᲞᲘᲜ ᲞᲝᲙᲔᲠᲘᲡ 12 SIDE ᲚᲘᲓᲔᲠᲑᲝᲠᲓᲘ </h2>
    <span class="additional-info"> * Side ლიდერბორდების შესახებ დეტალური ინფორმაცია იხილეთ პოკერის ლობიში.</span>
  </div>
</section>
