@use "../../../../styles/globals/colors" as c;
@use "../../../../styles/helpers/mixins" as m;
@import "../../../../styles/partials/card";
@import "../../../../styles/partials/button";
@import "../../../../styles/partials/panel";

.card-container {
  margin-bottom: 20px;
}

.travel-container {
  display: flex;
  //height: 600px;
  //width: 100%;
  padding: 0 15px;
  gap: 15px;

  & > div {
    width: 50%;
  }

  .travel-item {
    width: 100%;
    background-color: c.$gray-6;
    color: c.$white;
    border-radius: 12px;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    font-family: HelveticaNeue;

    .title {
      margin: 0;
      margin-bottom: 5px;
    }

    .image-container {
      position: absolute;
      right: 15px;
      top: 0;
    }

    .span-list {
      span {
        display: block;
      }
    }

    .text {
      color: c.$white;
      font-size: 14px;

    }
  }

  @include m.mq("tablet") {
    flex-direction: column;
    gap: 0;
    & > div {
      width: 100%;
    }
    .travel-item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.panel-container {
  margin-bottom: 20px;
  .sub-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .news-row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      position: relative;
      overflow: hidden;
      background-color: c.$gray-5;
      border-radius: 12px;
      margin: 10px 0;
      padding: 12px 0;
      width: 60%;
      text-align: center;

      &:after {
        content: "";
        width: 4px;
        height: 46px;
        border-radius: 0 5px 5px 0;
        background-color: c.$orange-2;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        box-shadow: 0 0px 10px c.$orange-2;
      }

      .text {
        margin-left: 22px;
        color: c.$white;
        font-size: 15px;
        font-family: HelveticaNeue-Light;
      }

      @include m.mq('tablet') {
        gap: 10px;
        background-color: c.$gray-2;
        width: 100%;
        .text {
          margin-left: 15px;
          font-size: 13px;
        }
      }
    }
  }

  .panel-body {
    flex-wrap: nowrap;

    .each-item {
      .card-container {
        .card-header{
          &:after{
            width: 45%;
          }
        }
        .card-body {
          background-color: c.$gray-3;
          padding: 8px;
          .card-list {
            padding: 0;
            margin: 0;
            li {
              display: flex;
              align-items: center;
              background-color: c.$gray-7;
              margin: 7px 0;
              border-radius: 10px;
              .icon-container{
                padding: 12px 8px;
              }
              .text {
                font-size: 13px;
                color: c.$white;
                font-family: HelveticaNeue;
              }
            }
          }

        }
      }
    }
    @include m.mq(tablet){
      flex-direction: column;
    }
  }
}
