<section class="panel-container">
  <div class="image-container">
    <img src="../../../../assets/images/final-info.jpg" alt="final banner">
  </div>
  <h2 class="panel-title">ᲒᲐᲔᲛᲒᲖᲐᲕᲠᲔ THE FESTIVAL IN MALTA-ᲖᲔ!</h2>
  <div class="sub-title">
    <p class="text">The Festival სერიების ფარგლებში, ევროპაბეთი უკვე მეორედ აძლევს პოკერის მოთამაშეებს დაუვიწყარი
      მოგზაურობის შანსს.</p>
    <div class="news-row">
      <p class="text">15-დან 21 მაისის ჩათვლით მალტა პოკერის ფესტივალს უმასპინძლებს</p>
    </div>
  </div>
  <div class="panel-body">
    <div class="each-item">
      <section class="card-container">
        <div class="card-header">
          <h2 class="title">
            A კატეგორიის საგზურში შედის
          </h2>
        </div>
        <div class="card-body">
          <div class="card-section">
            <div class="card-section-content">
              <ul class="card-list">
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-ticket-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">ორმხრივი ავიაბილეთი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-event-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">The Festival in Malta -ს მეინ ივენთის ბაი-ინი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-event-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">Holdem ან Omaha ჰაიროლერ ტურნირის ბაი-ინი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-hotel-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">სასტუმრო Golden Tulip Vivaldi Hote</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-money-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">€500 სახარჯი ფული</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="each-item">
      <section class="card-container">
        <div class="card-header">
          <h2 class="title">
            A კატეგორიის საგზურში შედის
          </h2>
        </div>
        <div class="card-body">
          <div class="card-section">
            <div class="card-section-content">
              <ul class="card-list">
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-ticket-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">ორმხრივი ავიაბილეთი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-event-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">The Festival in Malta -ს მეინ ივენთის ბაი-ინი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-event-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">Holdem ან Omaha ჰაიროლერ ტურნირის ბაი-ინი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-hotel-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">სასტუმრო Golden Tulip Vivaldi Hote</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-money-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">€500 სახარჯი ფული</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="each-item">
      <section class="card-container">
        <div class="card-header">
          <h2 class="title">
            A კატეგორიის საგზურში შედის
          </h2>
        </div>
        <div class="card-body">
          <div class="card-section">
            <div class="card-section-content">
              <ul class="card-list">
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-ticket-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">ორმხრივი ავიაბილეთი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-event-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">The Festival in Malta -ს მეინ ივენთის ბაი-ინი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-event-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">Holdem ან Omaha ჰაიროლერ ტურნირის ბაი-ინი</p>
                </li>
                <li>
                  <div class="icon-container">
                    <img src="../../../../assets/icons/final-item-hotel-icon.png" alt="ticket icon">
                  </div>
                  <p class="text">სასტუმრო Golden Tulip Vivaldi Hote</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="card-container">
  <div class="card-header">
    <h2 class="title">
      ᲛᲝᲘᲒᲔ ᲡᲐᲒᲖᲣᲠᲘ 30 ᲐᲞᲠᲘᲚᲘᲡ ᲤᲘᲜᲐᲚᲣᲠ ᲢᲣᲠᲜᲘᲠᲔᲑᲖᲔ
    </h2>
  </div>
  <div class="card-body">
    <div class="card-section">
      <div class="card-section-content">
        <div class="travel-container">
          <div>
            <div class="travel-item">
              <div class="image-container">
                <img src="../../../../assets/icons/poker-item-1-ticket-icon.png" alt=" travel icon">
              </div>
              <h4 class="title">“Cashgame Highrollers” -</h4>
              <div class="span-list">
                <span> 1 საგზური</span>
              </div>
            </div>
            <div class="travel-item">
              <div class="image-container">
                <img src="../../../../assets/icons/poker-item-1-ticket-icon.png" alt=" travel icon">
              </div>
              <h4 class="title">„Cashgame Grinders”</h4>
              <div class="span-list">
                <span> 1 საგზური</span>
              </div>
            </div>
            <div class="travel-item">
              <div class="image-container">
                <img src="../../../../assets/icons/poker-item-1-ticket-icon.png" alt=" travel icon">
              </div>
              <h4 class="title">„Tournament Sharks“ -</h4>
              <div class="span-list">
                <span> 1 საგზური</span>
              </div>
            </div>
          </div>
          <div>
            <div class="travel-item">
              <div class="image-container">
                <img src="../../../../assets/icons/poker-item-2-ticket-icon.png" alt=" travel icon">
              </div>
              <h4 class="title">„The Festival in Malta, GTD“</h4>
              <div class="span-list">
                <span> A კატეგორიის 1 საგზური</span>
                <span> B კატეგორიის 1 საგზური</span>
              </div>
              <p class="text">ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
            </div>
            <div class="travel-item">
              <div class="image-container">
                <img src="../../../../assets/icons/poker-item-1-ticket-icon.png" alt=" travel icon">
              </div>
              <h4 class="title">„The Festival in Malta, GTD“</h4>
              <div class="span-list">
                <span> c კატეგორიის 1 საგზური</span>
              </div>
              <p class="text">ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p class="additional-info">* თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან მეტჯერ, ის The Lord of the Rings ტურნირზემოხვდება
      ბეჭდების შესაბამისი რაოდენობის სტეკით</p>
    <p class="additional-info">*ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾-იანი ბაი-ინის გადახდით.</p>
  </div>
</section>
<section class="card-container multiple-section">
  <div class="card-header">
    <h2 class="title">
      <img src="../../../../assets/images/key.png">
    </h2>
  </div>
  <div class="card-body">
    <div class="card-section">
      <div class="card-section-title">
        <h3>მოთამაშეები გარკვეული საპრიზო ადგილების დაკავების შემთხვევაში მიიღებენ საიდუმლო გასაღებს</h3>
      </div>
      <div class="card-section-content">
        <div class="table-container simplified">
          <div class="table-body scrollable">
            <ul class="table-body-row">
              <li><span>1</span></li>
              <li>სპეციალური ტურნირი Cashgame Sharks II ადგილი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>2</span></li>
              <li>სპეციალური ტურნირი Cashgame Sharks II ადგილი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>3</span></li>
              <li>სპეციალური ტურნირი Tournament Sharks II ადგილი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>4</span></li>
              <li>სპეც. ტურნირი Tournament Sharks III ადგილი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>5</span></li>
              <li>Holdem Grinders ლიდერბორდის გამარჯვებული</li>
            </ul>
            <ul class="table-body-row">
              <li><span>6</span></li>
              <li>ქეშგეიმ დაბალი ლიმიტების ლიდერბორდების გამარჯვებულები</li>
            </ul>
            <ul class="table-body-row">
              <li><span>7</span></li>
              <li>ქეშგეიმ დაბალი ლიმიტების ლიდერბორდების გამარჯვებულები</li>
            </ul>
            <ul class="table-body-row">
              <li><span>8</span></li>
              <li>ქეშგეიმ დაბალი ლიმიტების ლიდერბორდების გამარჯვებულები</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
